/*

.clanok-zaujimavosti-ludia > div {
    background-color: #FFEFD5;
}

.clanok-zaujimavosti-miesta > div{
    background-color: #FED8B1;
}

.clanok-technika-gadgets > div{
    background-color:#FBCEB1;
}

.clanok-technika-smartfony > div{
    background-color:#FDBCB4;
}*/

.clanok {
    margin: 10px;
    padding: 10px;
}

img {
    padding: 0px;
    width: 100%;
    border: 0px;
    height: auto;
}

.source {
    background-color: gray;
    margin: 10px;
    padding: 10px;
    color: white;
}

.src {
    color: white;
}

iframe {
    width: 100%;
    height: auto;
}

#articlesDiv {
    display: table;
    width: 100%;
  }

  .colt {
    display: table-cell;
    /*background-color: #FBCEB1;*/
    
  }

  .clanok-obsah{
    padding: 16px;
  }
  
  @media only screen and (max-width: 800px) {
    .colt { 
      display: block;
      width: 100%;
    }
  }