/** {
    border : 1px solid red;
}*/

article{
    width: 70%;
    margin: auto;
}

#play_area{
    width: 100%;
    height: 700px;
    border: 2px solid black;
    background: rgb(255, 255, 255);
}

.table{
    display: block;
    position: fixed;
    left: 10%;
    top: 10%;
    margin: auto;
    background: yellow;
    width: 80%;
    height: 80%;
    font-size: 60px;
    text-align: center;
}

.button-s{
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid gray;
    display: inline-block;
    border-radius: 5%;
    font-size: 18px;

    text-align: center;
}

.button-b{
    
    padding: 5%;
    border: 2px solid gray;
    display: inline-block;
    border-radius: 10%;
    font-size: 40px;

    text-align: center;
}

#black{
    display: block;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: black;
}

.button-b, .button-s:hover{
    cursor: pointer;
}

.no{
    border: 2px solid red;
}
.no:hover{
    background: red;
    color: black;
}
.yes{
    border: 2px solid green;
}
.yes:hover{
    background: green;
    color: black;
}

#wictoryTable{
    display: none;
}