.box1{
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 12px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}
.box2{
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}
.box4{
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    margin-top: 5%;
    margin-left: 78%;
    border-radius: 25px;
}
.box5{
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    margin-top: 2%;
    margin-left: 65%;
    border-radius: 25px;
}
.box3{
    width: 20px;
    height: 20px;
    margin-top: 5%;
    margin-left: 25%;
    padding: 10px;
    border-radius: 25px;
}
.box6{
    width: 5px;
    height: 5px;
    margin-top: -17%;
    margin-left: 50%;
    padding: 10px;
    border-radius: 25px;
}
.box7{
    width: 5px;
    height: 5px;
    margin-top: -35%;
    margin-left: 30%;
    padding: 10px;
    border-radius: 25px;
}
.box8{
    width: 5px;
    height: 5px;
    margin-top: 25%;
    margin-left: 35%;
    padding: 10px;
    border-radius: 25px;
}
.box9{
    width: 5px;
    height: 5px;
    margin-top: -25%;
    margin-left: 55%;
    padding: 10px;
    border-radius: 25px;
}

#base{
    background-image: url("bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    padding: 25px;
    width: 500px;
    height: 300px;
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 25px;
}

#parts{
    border: 2px solid black;
    width: 82%;
    height: 150px;
    position: relative;
    border-radius: 25px;
    margin-left: 10%;
    background-color: chartreuse;
}

#target1, #target2, #target3, #target4, #target5, #target6, #target7, #target8{
    position: absolute;
}